<div class="bg-gradient-to-t from-white to-[#fad5d5] h-auto py-10 px-5   w-full flex flex-col justify-center items-center text-center">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <p data-aos="fade-down" data-aos-duration="1000"  class=" text-lg text-gray-900" style="font-family: 'Great Vibes', cursive ;
    font-weight: 700;
    font-style: normal;">
        Ceremonia Religiosa
    </p>
    
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-1 text-sm text-gray-900" style=" font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">
        14h00 <br>
        Sábado, 21 de Diciembre de 2024 <br>
    </p>
    <div class="flex flex-row justify-center items-center w-full">
        <p>        Iglesia Católica Cristo Luz del Mundo <br> Vilcabamba</p>
        <img src="" alt="">
    </div>

    <a data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" href="https://maps.app.goo.gl/8ykoB2v8ok37rqNV9" target="_blank" type="button" class="mt-5 focus:outline-none text-white bg-[#eebbbb] hover:bg-[#e29c9c] focus:ring-4 focus:ring-[#e29c9c] font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2  " style=" font-family: 'Newsreader', serif;">Conocer Ubicación</a>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <p data-aos="fade-down" data-aos-duration="1000"  class="mt-10 text-lg text-gray-900" style="font-family: 'Great Vibes', cursive ;
    font-weight: 700;
    font-style: normal;">
        Recepción
    </p>
    
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-1 text-sm text-gray-900" style=" font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">
        16h00 <br>
        Sábado, 21 de Diciembre de 2024 <br>
        Huerto Del Viejo Angel
    </p>

    <a data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" href="https://maps.app.goo.gl/JuXY8nKtJC292Mzp8" target="_blank" type="button" class="mt-5 focus:outline-none text-white bg-[#eebbbb] hover:bg-[#e29c9c] focus:ring-4 focus:ring-[#e29c9c] font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2  " style=" font-family: 'Newsreader', serif;">Conocer Ubicación</a>


</div>


<img data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" class="" src="assets/img/imagen.png" alt="">



    


