<div class="bg-gradient-to-b from-white to-[#fad5d5] h-auto py-16   w-full flex flex-col justify-start items-center text-center">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/regalo.png" class="w-12 drop-shadow-2xl  " alt="">
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-4 text-lg text-gray-900" style="font-family: 'Newsreader', serif;
    font-weight: 300;
    font-style: normal;">
        Su presencia en nuestra boda es el mejor regalo. Pero si desean hacernos otro obsequio puede ser en efectivo, o a los siguientes datos bancarios.
    </p>
    <swal
  #deleteSwal
  title="Datos Bancarios:"
  html='
  <h1 class="text-gray-900 text-center font-bold"> Novio: </h1>
  <h1><strong class="text-[#92a58b]">Banco:</strong> Banco de Loja </h1>
  <h1><strong class="text-[#92a58b]">CTA:</strong> Ahorros </h1>
  <h1><strong class="text-[#92a58b]">Titular:</strong> Miguel Andres Mendieta</h1>
  <h1><strong class="text-[#92a58b]">N° Cédula:</strong> 1105364739</h1>
  <h1><strong class="text-[#92a58b]">N° Cuenta:</strong> 2903183811  </h1>'
  text="This cannot be undone"
  [focusCancel]="true">
</swal>
    
    <a data-aos="zoom-in" data-aos-duration="1000" style="font-family: 'Newsreader', serif;"  [swal]="deleteSwal" target="_blank" type="button" class="mt-5 focus:outline-none text-white bg-[#eebbbb] hover:bg-[#e29c9c] focus:ring-4 focus:ring-[#e29c9c] font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2  ">Ver datos bancarios</a>

    <div class="bg-white h-auto py-14 w-[90%] rounded-xl mt-5   flex flex-col justify-start items-center text-center">
    
        <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class=" text-3xl font-bold text-gray-900 " style="font-family: 'Newsreader', serif;
        font-weight: 500;
        font-style: normal;">
            CAPTURA NUESTRO
        </h1>
        <div class="w-full flex justify-center items-center gap-5">
            <img data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" src="assets/img/image.png" class="w-20" alt="">
            <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"  style="font-family: 'Great Vibes', cursive ;" class="text-5xl">Amor</h1>
        </div>
        <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" class=" text-lg font-bold text-gray-900 px-10 " style="font-family: 'Newsreader', serif;
        font-weight: 300;
        font-style: normal;">
            ESCANEA CON TU TELEFONO EL CÓDIGO QR Y SUBE LAS FOTOS DE ESTE DIA TAN ESPECIAL <br> ¡NOS ENCANTARÁ TENERLAS!
        </h1>
        <a target="_blank" href="https://drive.google.com/drive/folders/1Q5S6RT13pu-DnNH_OsLeauNnPG50JVNt" class=" ">
            <img data-aos="fade-down" data-aos-duration="1000" data-aos-delay="600" src="assets/img/qr.png" class="px-20" alt="">
        </a>
    </div>

</div>

<!-- <img src="assets/img/subir.png" href="https://drive.google.com/drive/folders/1Q5S6RT13pu-DnNH_OsLeauNnPG50JVNt" alt=""> -->

<div class="bg-cover bg-no-repeat bg-[url('assets/img/ultima.jpg')] h-screen w-screen text-center flex flex-col gap-0 items-center justify-start pt-10  ">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    
    <p data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" data-aos-delay="200" class="pt-24 pb-5 px-5 text-xl font-semibold text-white" style="font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">
        Nuestra boda será una fiesta especial. Prepárense para reír, bailar y celebrar el amor de una manera que solo nosotros lo podemos lograr.
    </p>
    <h1 data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" data-aos-delay="200"  style="font-family: 'Great Vibes', cursive ;" class="text-5xl text-white">¡No Falten!</h1>


</div>



