<div class="bg-gradient-to-b from-white to-[#fad5d5] h-auto py-10 px-5   w-full flex flex-col justify-center items-center text-center">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/email-heart.png" class="w-12" alt="">
    <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" style="font-family: 'Great Vibes', cursive ;" class="text-4xl">¡Estás Invitado!</h1>
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" class="p-3 text-sm text-gray-900" style="font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">
        Después de un maravilloso viaje juntos lleno de aventuras, risas y sueños compartidos, hemos decidido dar el paso más importante: unir nuestras vidas para siempre.
    </p>

    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" class="p-3 text-sm text-gray-900" style="font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">
        Queremos que seas parte de este día tan especial, rodeados del cariño de quienes más queremos.
    </p>

    <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" style="font-family: 'Great Vibes', cursive ;" class="text-3xl pt-10">Con la Bendición de Dios y Nuestros Padres</h1>
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" class="p-3 text-sm text-gray-900" style="font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">
        <b>Papás del Novio </b> <br>
        Doris Antonieta Macas Ortega <br>
        Miguel Mendieta Macas <br>
        <b>Papás de la Novia </b> <br>
        Lourdes Marianita Quizhpe Vacacela <br>
        Manuel Asunción Paqui Guaillas <br>
    </p>
    
</div>