
<div class="bg-cover bg-no-repeat sepia-0 bg-[url('assets/img/inicio.jpg')] h-screen w-screen text-center flex flex-col gap-0 items-center justify-start  ">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script>
        AOS.init();
      </script>
<div class="w-full flex flex-col items-center mt-64">
  <img data-aos="fade-down" data-aos-duration="2000"  src="assets/img/fechaing.png" class="w-20 " alt="">
    
  <p data-aos="fade-down" data-aos-duration="2000" data-aos-delay="200" style="font-family: 'Dancing Script', cursive ;" class="text-white text-4xl">Marisol y Miguel</p>
<img data-aos="fade-down" data-aos-duration="2000" data-aos-delay="300" src="assets/img/flor.png" class="w-40 " alt="">

</div>
    <audio class="hidden" autoplay  controls>
        <source src="assets/audio/cancion.mp3" type="audio/mpeg">
        
      </audio>
</div>

<app-invitado></app-invitado>
<app-contador></app-contador>
<app-recepcion></app-recepcion> 
<app-dresscode></app-dresscode>
<app-calendario></app-calendario>
<app-banc></app-banc>